USE [master]
GO
/****** Object:  Database [GamesDatabase]    Script Date: 10/05/2022 20:17:37 ******/
CREATE DATABASE [GamesDatabase]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'GamesDatabase', FILENAME = N'D:\rdsdbdata\DATA\GamesDatabase.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'GamesDatabase_log', FILENAME = N'D:\rdsdbdata\DATA\GamesDatabase_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [GamesDatabase].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [GamesDatabase]
GO
/****** Object:  User [Seainin]    Script Date: 10/05/2022 20:17:39 ******/
CREATE USER [Seainin] FOR LOGIN [Seainin] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [Seainin]
GO
/****** Object:  Table [dbo].[games]    Script Date: 10/05/2022 20:17:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[games](
	[Title] [varchar](50) NULL,
	[ReleaseDate] [date] NULL,
	[TopicArn] [varchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[userSub]    Script Date: 10/05/2022 20:17:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[userSub](
	[email] [varchar](100) NULL,
	[number] [char](13) NULL,
	[TopicArn] [varchar](100) NULL
) ON [PRIMARY]
GO
USE [master]
GO
